<footer class="pxl-10lvw py-4 bg-header-bg text-header-text">
    <div class="flex flex-col md:flex-row items-center justify-between w-full px-4">
        <div class="w-full md:w-1/4 mb-4 md:mb-0 flex justify-center"> <!-- Logo centrado en móviles -->
            <a href="#">
                <img src="/src/assets/images/logo.png" alt="Logo" class="h-auto w-[5lvw]">
            </a>
        </div>
        <div class="w-full md:w-1/2 mb-4"> <!-- Enlaces -->
            <ul class="flex flex-col lg:flex-row items-center justify-center space-y-2 lg:space-y-0 lg:space-x-4">
                <li>
                    <a href="./index.html" class="text-header-text font-bold text-600" data-page="index">Inicio</a>
                </li>
                <li>
                    <a href="./speakers.html" class="text-header-text font-bold text-600" data-page="speakers">Speakers</a>
                </li>
                <li>
                    <a href="./contact.html" class="text-header-text font-bold text-600" data-page="contact">Contacto</a>
                </li>
            </ul>
        </div>
        <div class="w-full md:w-1/4 mb-4 md:mb-0"> <!-- Iconos sociales -->
            <div class="flex justify-center md:justify-end">
                <a class="mr-4" href="https://facebook.com">
                    <i class="fab fa-facebook fa-2x text-600"></i> <!-- Cambia el color aquí -->
                </a>
                <a class="mr-4" href="https://twitter.com">
                    <i class="fab fa-twitter fa-2x text-600"></i> <!-- Cambia el color aquí -->
                </a>
                <a href="https://instagram.com">
                    <i class="fab fa-instagram fa-2x text-600"></i> <!-- Cambia el color aquí -->
                </a>
            </div>
        </div>
    </div>


  </footer>
