<header class="pxl-10lvw py-4 bg-header-bg text-header-text">
    <div class="flex items-center justify-between w-full px-4">

        <a href="#" class="ml-[10lvw]">
            <img src="/src/assets/images/logo.png" alt="Logo" class="h-auto w-[5lvw]">
        </a>

        <nav class="flex items-center mr-[10lvw]">
            <button class="lg:hidden" type="button" aria-label="Toggle navigation">
                <span class="block w-6 h-6 bg-no-repeat bg-center bg-hamburger"></span>
            </button>

            <div class="hidden lg:block">
                <ul class="flex space-x-4">
                    <li>
                        <a href="./index.html" class="text-header-text font-bold text-600" data-page="index">Inicio</a>
                    </li>
                    <li>
                        <a href="./speakers.html" class="text-header-text font-bold text-600" data-page="speakers">Speakers</a>
                    </li>
                    <li>
                        <a href="./contact.html" class="text-header-text font-bold text-600" data-page="contact">Contacto</a>
                    </li>
                </ul>
            </div>
        </nav>

    </div>
</header>
